:root {
  --primary-color: #5fbaa7;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
}
p {
  text-align: center;
}

.btn {
  color: white;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  padding: 8px 16px;
  border: none;
  outline: none;
}

.money-img {
  width: 150px;
  /* height: 150px; */
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  /* appearance: none; */
  outline: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-position: right 10px top 50%, 0, 0;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 20px;
  margin-left: 32px;
  text-align: right;
  outline: none;
}

.swap-rate-container {
  color: var(--primary-color);
  font-size: 1rem;
  padding: 0 10px;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
